/* HEADER */
.header-container { /*created an container to help position the contents in the header */
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

#header-content{/* this lets everything be the same length regardless of content*/
    flex: 1
}

header { /* the actual header, create some padding so its not so tight and it creates the color background*/
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    background: #2b2d42;
}

header h2{ /*set the headers content color*/
    color: #EDF2F4;
    margin: 0;
}

/* BODY */

body{ /* set the text of my body content*/
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,h2{ /* set the text of the headers i use, since I want a consistant look on all my pages I will keep both regardless if i use on this page*/
    font-family: 'Caveat';
    font-weight: 400;
}

h2{ /* set the size of the header to 40px*/
    font-size:40px;
    margin-top: 0;
}

html{ /* Use to apply a natural box layout model to all elements but allow components to change */
    box-sizing: border-box;
}

 *, *:before, *:after{ /* adjust the box size for before and after properties*/
    box-sizing: inherit;
}

.main-container { /* container used for the body*/
    margin: 0 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 auto;
    flex: 1;
}

#pic {
    width:435px;
    cursor: pointer;
    transition: 0.3s;
}

#pic:hover {
    opacity: 0.7;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#question{
    padding-top: 20px;
}

#submitbtn{
    background-color: #4CAF50;
}

#nxtbtn{
    background-color: #111111;
}

#resetbtn{
    background-color: #39305c;
}

#submitbtn{ 
    width: 50%;
    margin: 10px 25%;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    font-size: 13px;
}

#resetbtn,#nxtbtn { 
    width: 100%;
    margin: 10px 0%;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    font-size: 13px;
}

#submitbtn:hover,#nxtbtn:hover,#resetbtn:hover { /* give the buttons a hover effect */
    opacity:1;
}

#nxtbtn,#resetbtn {
    display: none;
}

#finalscr{
    font-size: large;
}

@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}

@media (max-width: 0px){
    #pic{
        width:50%;
    }
}

@media (max-width: 435px){
    #pic{
        width:100%;
    }
}